# Tugas Besar IF2220 Probabilitas dan Statistika 
Penarikan Kesimpulan dan Pengujian Hipotesis 

1. Eduardus Alvito Kristiadi - 13522004
2. Francesco Michael Kusuma - 13522038

# 1. Descriptive Statistics

Import packages

In [1]:
# data manipulation
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

import math

# display column in dataframes
pd.set_option('display.max_columns', None)

Load data

In [2]:
data_path = "../data/candy.csv"
df = pd.read_csv(data_path)

Basic Information

In [3]:
# display first 10 rows
df.head(10)

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Flavour,Popularity
0,0,199.093472,38.515232,1.900459,19.853806,74.674097,7.587634,0.138605,Vanilla,41.259773
1,1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,Strawberry,44.089254
2,2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,Strawberry,46.941862
3,3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,Strawberry,53.331791
4,4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,Chocolate,48.471775
5,5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,Chocolate,48.707626
6,6,201.699421,40.993619,2.719687,18.796996,74.561544,6.274145,0.600684,Strawberry,51.484401
7,7,200.522004,39.434773,3.615797,19.437173,75.576867,6.287625,0.708523,Vanilla,57.927832
8,8,201.787068,38.091135,4.142337,20.531754,74.873728,6.230036,0.450343,Strawberry,58.533989
9,9,200.116357,40.577666,3.856300,19.043599,73.489720,8.419219,0.501465,Strawberry,62.955347

In [4]:
# basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   Calories    2000 non-null   float64
 2   Serving     2000 non-null   float64
 3   Protein     2000 non-null   float64
 4   Sugar       2000 non-null   float64
 5   Sodium      2000 non-null   float64
 6   Fat         2000 non-null   float64
 7   Fiber       2000 non-null   float64
 8   Flavour     2000 non-null   object
 9   Popularity  2000 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 156.4+ KB

In [5]:
# descriptive statistics
df.describe()

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,999.500000,199.996046,39.989139,2.974415,20.004080,74.982853,6.748226,0.490851,49.967119
std,577.494589,1.127015,1.073182,1.012686,0.888751,1.007484,0.658202,0.292242,10.145767
min,0.000000,195.897565,36.424752,-0.571292,16.925305,71.405873,5.162155,0.000487,-3.000000
25%,499.750000,199.212548,39.272877,2.245751,19.409965,74.276512,6.279173,0.238509,42.948183
50%,999.500000,200.001306,39.977855,2.979177,20.004798,75.000056,6.667726,0.489901,49.955385
75%,1499.250000,200.777167,40.734991,3.655002,20.588626,75.677900,7.170426,0.736093,57.153024
max,1999.000000,204.713237,43.561506,6.392027,22.922444,78.232301,9.498653,3.000000,86.469784

In [6]:
# dataframe size
df.shape

(2000, 10)

# Data description

In [7]:
numeric_columns = df.select_dtypes(include=['number'])
df_numeric = numeric_columns.iloc[1:, 1:]

df_numeric

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,44.089254
2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,46.941862
3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,53.331791
4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,48.471775
5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,48.707626
...,...,...,...,...,...,...,...,...
1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

In [7]:
numeric_columns = df.select_dtypes(include=['number'])
df_numeric = numeric_columns.iloc[1:, 1:]

df_numeric

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,44.089254
2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,46.941862
3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,53.331791
4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,48.471775
5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,48.707626
...,...,...,...,...,...,...,...,...
1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

In [8]:
df_numeric.describe()

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,199.996498,39.989876,2.974953,20.004156,74.983008,6.747806,0.491027,49.971475
std,1.127116,1.072944,1.012654,0.888967,1.007713,0.658099,0.292209,10.146435
min,195.897565,36.424752,-0.571292,16.925305,71.405873,5.162155,0.000487,-3.000000
25%,199.214284,39.273755,2.246421,19.409003,74.276211,6.278979,0.238581,42.960707
50%,200.001440,39.978320,2.979227,20.004976,75.000058,6.667249,0.490045,49.977630
75%,200.777900,40.735015,3.655285,20.588686,75.678892,7.170057,0.736107,57.154014
max,204.713237,43.561506,6.392027,22.922444,78.232301,9.498653,3.000000,86.469784

In [9]:
df_non_numeric = df.select_dtypes(exclude=['number'])
df_non_numeric

         Flavour
0        Vanilla
1     Strawberry
2     Strawberry
3     Strawberry
4      Chocolate
...          ...
1995  Strawberry
1996     Vanilla
1997   Chocolate
1998   Chocolate
1999  Strawberry

[2000 rows x 1 columns]

In [10]:
df_non_numeric.describe()

          Flavour
count        2000
unique          4
top     Chocolate
freq          678

# Mean

In [11]:
df_numeric.mean()

Calories      199.996498
Serving        39.989876
Protein         2.974953
Sugar          20.004156
Sodium         74.983008
Fat             6.747806
Fiber           0.491027
Popularity     49.971475
dtype: float64

# Median

In [12]:
df_numeric.median()

Calories      200.001440
Serving        39.978320
Protein         2.979227
Sugar          20.004976
Sodium         75.000058
Fat             6.667249
Fiber           0.490045
Popularity     49.977630
dtype: float64

# Modus

In [13]:
for col in df_numeric.columns:
        if df_numeric[col].nunique() == df_numeric[col].count():
            print(f"{col} memiliki nilai yang unik")
        else:
            modes = df_numeric[col].mode().to_list()
            mode_str = ", ".join(str(mode) for mode in modes)
            print(f"{col} : {mode_str}")

Calories memiliki nilai yang unik
Serving memiliki nilai yang unik
Protein memiliki nilai yang unik
Sugar memiliki nilai yang unik
Sodium memiliki nilai yang unik
Fat memiliki nilai yang unik
Fiber memiliki nilai yang unik
Popularity memiliki nilai yang unik

In [14]:
df.mode()

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Flavour,Popularity
0,0,195.897565,36.424752,-0.571292,16.925305,71.405873,5.162155,0.000487,Chocolate,-3.000000
1,1,196.397612,36.819554,-0.181237,16.941567,71.601747,5.178528,0.000595,NaN,-2.000000
2,2,196.570746,36.866012,-0.168740,17.437484,71.929621,5.237413,0.001436,NaN,-1.000000
3,3,196.581365,37.145138,0.089544,17.496762,71.964250,5.240564,0.001703,NaN,13.941228
4,4,196.635409,37.204153,0.225252,17.514313,71.971237,5.277677,0.001742,NaN,15.289805
...,...,...,...,...,...,...,...,...,...,...
1995,1995,203.636287,43.157695,5.987352,22.415247,77.923845,8.999875,0.999110,NaN,79.862750
1996,1996,203.865106,43.185000,6.017333,22.418397,77.937471,9.027155,0.999112,NaN,81.337379
1997,1997,204.253280,43.256139,6.043756,22.630121,78.211440,9.229263,0.999222,NaN,81.840773
1998,1998,204.358711,43.273235,6.132917,22.798626,78.216414,9.261330,0.999587,NaN,85.341910
1999,1999,204.713237,43.561506,6.392027,22.922444,78.232301,9.498653,3.000000,NaN,86.469784

# Standar deviasi

In [15]:
df_numeric.std()

Calories       1.127116
Serving        1.072944
Protein        1.012654
Sugar          0.888967
Sodium         1.007713
Fat            0.658099
Fiber          0.292209
Popularity    10.146435
dtype: float64

# Variance

In [16]:
df_numeric.var()

Calories        1.270390
Serving         1.151208
Protein         1.025468
Sugar           0.790262
Sodium          1.015485
Fat             0.433094
Fiber           0.085386
Popularity    102.950140
dtype: float64

# Range

In [17]:
print(df_numeric.max() - df_numeric.min())

Calories       8.815673
Serving        7.136754
Protein        6.963319
Sugar          5.997139
Sodium         6.826428
Fat            4.336498
Fiber          2.999513
Popularity    89.469784
dtype: float64

In [18]:
df_numeric.min()

Calories      195.897565
Serving        36.424752
Protein        -0.571292
Sugar          16.925305
Sodium         71.405873
Fat             5.162155
Fiber           0.000487
Popularity     -3.000000
dtype: float64

In [19]:
df_numeric.max()

Calories      204.713237
Serving        43.561506
Protein         6.392027
Sugar          22.922444
Sodium         78.232301
Fat             9.498653
Fiber           3.000000
Popularity     86.469784
dtype: float64

# Unique Values

In [20]:
df_numeric.nunique()

Calories      1999
Serving       1999
Protein       1999
Sugar         1999
Sodium        1999
Fat           1999
Fiber         1999
Popularity    1999
dtype: int64

# Skewness

In [21]:
df_numeric.skew()

Calories      0.040993
Serving       0.030493
Protein       0.088601
Sugar         0.006163
Sodium       -0.031153
Fat           0.538664
Fiber         0.323447
Popularity   -0.149579
dtype: float64

# Kurtosis

In [22]:
df_numeric.kurtosis()

Calories      0.199103
Serving      -0.117194
Protein      -0.098032
Sugar        -0.049396
Sodium       -0.026656
Fat           0.239075
Fiber         1.398742
Popularity    0.808655
dtype: float64

# Value Counts

In [23]:
df_non_numeric['Flavour'].value_counts()

Flavour
Chocolate     678
Vanilla       664
Strawberry    656
undefined       2
Name: count, dtype: int64

# Undefined Value

In [24]:
undefined_flavours = df_non_numeric[df_non_numeric['Flavour'] == 'undefined']
print(undefined_flavours)

        Flavour
401   undefined
1935  undefined

# 2.Outlier

Cleaning

In [25]:
missing_values = df.isnull().sum(axis = 0)
nan_cols = missing_values[missing_values > 0]

print(f"Missing data : {len(nan_cols)}")

Missing data : 0

In [26]:
def detect_outliers_iqr(df):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (df < lower_bound) | (df > upper_bound)
    return outliers

outliers_iqr = detect_outliers_iqr(df_numeric)

# Tampilkan indeks baris yang merupakan outlier
outliers_iqr_indices = df_numeric[outliers_iqr.any(axis=1)].index
print("Indeks baris yang merupakan outlier (menggunakan IQR):")
print(outliers_iqr_indices)

Indeks baris yang merupakan outlier (menggunakan IQR):
Index([  25,   33,   95,  100,  102,  105,  124,  177,  199,  235,  326,  347,
        350,  379,  387,  394,  398,  399,  412,  443,  474,  515,  537,  540,
        554,  589,  607,  613,  709,  732,  734,  766,  817,  818,  852,  855,
        913,  938,  972,  996, 1023, 1024, 1070, 1089, 1094, 1108, 1113, 1144,
       1149, 1156, 1187, 1266, 1271, 1287, 1296, 1298, 1309, 1313, 1327, 1363,
       1377, 1391, 1395, 1422, 1426, 1431, 1456, 1459, 1470, 1523, 1524, 1527,
       1561, 1569, 1574, 1598, 1631, 1663, 1710, 1726, 1781, 1782, 1787, 1795,
       1836, 1840, 1841, 1932, 1935, 1948, 1949, 1986, 1992, 1994],
      dtype='int64')

In [27]:
df_cleaned_iqr = df_numeric[~outliers_iqr.any(axis=1)]
df_cleaned_iqr

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,44.089254
2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,46.941862
3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,53.331791
4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,48.471775
5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,48.707626
...,...,...,...,...,...,...,...,...
1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

In [28]:
missing_values = df_cleaned_iqr.isnull().sum(axis = 0)
nan_cols = missing_values[missing_values > 0]

print(f"Missing data : {len(nan_cols)}")

Missing data : 0

# 3. Data Visualization

# 4. Distribution

# 5. Hipotesis 1 Sampel

In [29]:
def uji_z(dataset, attribute, mean_tested):
    n = len(dataset)
    population_avg = dataset[attribute].mean()
    population_std = dataset[attribute].std()
    
    z_score = (population_avg-mean_tested)/(population_std/math.sqrt(n))

    return z_score

def z_test_proportion(sample, qualified_sample, proportion):
    n = len(sample)
    x = len(qualified_sample)

    p = x / n
    z_value = (p - proportion) / math.sqrt((proportion * (1 - proportion) / n))
    # p_value = scipy.stats.norm.sf(abs(z_value)) * 2

    print(f"n       : {n}")
    print(f"x       : {x}")
    print(f"Z-Value : {z_value}")
    # display(Markdown(f"P-Value : {p_value}"))

Perusahaan menerima beberapa keluhan bahwa permennya kurang manis. Periksalah anda mengecek apakah rata-rata nilai Sugar di bawah 25?

1. H<sub>0</sub> : $ \mu $ = 25
2. H<sub>1</sub> : $ \mu $ < 25
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z > 1.645
5. Komputasi :

In [30]:
z = uji_z(df_cleaned_iqr, "Sugar", 25)
print(z)

-252.7031642983111

6. Kesimpulan :

Pada umumnya, rata-rata Serving untuk permen adalah 40 gram. Oleh karena itu, periksalah apakah rata-rata Serving permen yang diproduksi tidak bernilai 40 gram!

1. H<sub>0</sub> : $ \mu $ = 40
2. H<sub>1</sub> : $ \mu $ $ \neq $ 40
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :

In [31]:
z = uji_z(df_cleaned_iqr, "Serving", 40)
print(z)

-0.415793262073996

6. Kesimpulan :

Periksalah apakah rata-rata Sodium untuk permen 20 baris terakhir tidak sama dengan 74!

In [32]:
sample_last_20_sodium = df_cleaned_iqr.tail(20)
sample_last_20_sodium

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
1977,200.464429,39.883770,3.581407,22.255410,75.218658,6.983430,0.420399,45.841841
1978,201.331875,38.160549,4.296189,20.906477,73.765558,7.082034,0.112787,53.542409
1979,198.978288,39.479575,4.167805,19.560860,76.340237,7.472718,0.339215,58.919432
1980,199.632184,41.111261,4.022184,19.372081,73.502742,5.960061,0.738617,40.458029
1981,199.489356,38.457861,3.084748,21.601836,75.015860,5.467454,0.164015,60.335182
1982,198.777872,40.650302,5.357073,21.199401,73.062842,6.506362,0.364354,51.370899
1983,199.835191,37.645984,2.740014,20.444688,75.131546,6.426923,0.703222,49.103806
1984,200.895256,40.221327,3.392266,20.539772,74.259044,6.760496,0.186799,35.569357
1985,198.976884,39.162934,2.043658,19.041167,75.683338,6.662467,0.075794,42.386459
1987,199.111497,40.636672,3.292004,19.893476,73.774480,6.218743,0.186380,66.130876
1988,199.597776,39.204899,3.340600,19.385656,76.767605,6.395450,0.257444,59.389073
1989,198.293964,40.798700,3.715468,19.091166,74.549318,6.309411,0.533863,39.865048
1990,200.763221,41.249618,3.759894,18.913460,73.767842,6.991577,0.190885,52.967021
1991,200.549804,40.819762,2.184473,21.935450,74.578849,6.068394,0.068871,56.575306
1993,199.582716,40.024205,1.184339,19.789923,75.313896,7.686914,0.553816,50.988980
1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

1. H<sub>0</sub> : $ \mu $ = 74
2. H<sub>1</sub> : $ \neq $ 74
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :

In [33]:
z = uji_z(sample_last_20_sodium, "Sodium", 74)
print(z)

2.653128923333198

6. Kesimpulan :

Periksalah apakah proporsi nilai Protein yang lebih besar dari 3 tidak sama dengan 60% dari total dataset!

In [34]:
protein_more_than_3 = df_cleaned_iqr[df_cleaned_iqr["Protein"] > 3]
protein_more_than_3

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,48.707626
7,200.522004,39.434773,3.615797,19.437173,75.576867,6.287625,0.708523,57.927832
8,201.787068,38.091135,4.142337,20.531754,74.873728,6.230036,0.450343,58.533989
9,200.116357,40.577666,3.856300,19.043599,73.489720,8.419219,0.501465,62.955347
11,200.953953,39.064263,3.444881,20.109011,76.531002,6.323016,0.783954,41.968853
...,...,...,...,...,...,...,...,...
1988,199.597776,39.204899,3.340600,19.385656,76.767605,6.395450,0.257444,59.389073
1989,198.293964,40.798700,3.715468,19.091166,74.549318,6.309411,0.533863,39.865048
1990,200.763221,41.249618,3.759894,18.913460,73.767842,6.991577,0.190885,52.967021
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724

1. H<sub>0</sub> : $ \mu $ = 0.6
2. H<sub>1</sub> : $ \mu $ $ \neq $ 0.6
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :

In [35]:
z_test_proportion(df_cleaned_iqr, protein_more_than_3, 0.6)

n       : 1905
x       : 929
Z-Value : -10.008308009915925

# 6. Hipotesis 2 Sampel

Split dataset

In [48]:
midpoint = len(df_cleaned_iqr) // 2

data1 = df_cleaned_iqr.iloc[:midpoint]
data2 = df_cleaned_iqr.iloc[midpoint:]

In [49]:
data1

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,44.089254
2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,46.941862
3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,53.331791
4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,48.471775
5,200.439012,39.363301,3.675900,19.055817,73.654399,7.685946,0.992098,48.707626
...,...,...,...,...,...,...,...,...
987,199.369429,40.910551,3.880148,20.375318,76.254406,6.282278,0.925330,44.716370
988,201.290831,40.486880,2.438494,20.348015,75.353728,6.738131,0.379577,34.003868
989,201.511880,41.616781,2.596863,21.593737,75.936682,7.286296,0.162285,57.742546
990,198.209424,37.955607,4.010059,20.945378,75.071478,7.616628,0.209402,42.684213
991,201.704362,40.163887,3.458042,19.641277,75.425493,6.923814,0.862199,43.494120

In [50]:
data2

,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
992,199.554224,38.687516,2.361404,20.091201,74.787205,6.601121,0.084027,56.073834
993,201.500624,40.021678,1.795150,19.839232,76.272069,7.170212,0.777572,55.278983
994,200.090587,39.956249,3.008455,18.784237,75.623618,6.551079,0.179102,57.512021
995,199.570358,39.976424,5.504721,19.833410,74.645632,5.512911,0.419424,46.587871
997,198.616825,40.742837,2.622436,21.102576,75.828287,7.580364,0.756265,41.577376
...,...,...,...,...,...,...,...,...
1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

In [53]:
def same_variance(x, y, attribute):
    return x[attribute].var() == y[attribute].var()

Periksalah apakah rata-rata Sugar dari permen yang diproduksi bernilai sama pada kedua kurun waktu!

In [ ]:
def z

In [54]:
print(same_variance(data1, data2, "Sugar"))

False

1. H<sub>0</sub> : $ \mu1 $ = $ \mu2 $
2. H<sub>1</sub> : $ \mu1 $ $ \neq $ $ \mu2 $
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :

Bandingkan rata-rata Protein dari permen pada paruh awal dan akhir. Apakah rata-rata Protein pada dataset bagian awal lebih besar daripada bagian akhir sebesar 0.3 unit?

Periksalah apakah variansi dari Sodium dari permen sama pada paruh awal dan akhir!

Periksalah apakah proporsi Calories dari permen yang lebih dari 200 pada paruh awal lebih besar daripada proporsi di paruh akhir!

# NO 5
# Hipotesis 1 Sampel

In [ ]:
def uji_z(dataset, attribute, mean_tested):
    n = len(dataset)
    population_avg = dataset[attribute].mean()
    population_std = dataset[attribute].std()
    
    z_score = (population_avg-mean_tested)/(population_std/math.sqrt(n))

    return z_score

def z_test_proportion(sample, qualified_sample, proportion):
    n = len(sample)
    x = len(qualified_sample)

    p = x / n
    z_value = (p - proportion) / math.sqrt((proportion * (1 - proportion) / n))
    # p_value = scipy.stats.norm.sf(abs(z_value)) * 2

    print(f"n       : {n}")
    print(f"x       : {x}")
    print(f"Z-Value : {z_value}")
    # display(Markdown(f"P-Value : {p_value}"))

In [ ]:
Perusahaan menerima beberapa keluhan bahwa permennya kurang manis. Periksalah anda mengecek apakah rata-rata nilai Sugar di bawah 25?
1. H<sub>0</sub> : $ \mu $ = 25
2. H<sub>1</sub> : $ \mu $ < 25
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z > 1.645
5. Komputasi :
z = uji_z(clean8, "Sugar", 25)
print(z)
6. Kesimpulan : 
Pada umumnya, rata-rata Serving untuk permen adalah 40 gram. Oleh karena itu, periksalah apakah rata-rata Serving permen yang diproduksi tidak bernilai 40 gram!
1. H<sub>0</sub> : $ \mu $ = 40
2. H<sub>1</sub> : $ \mu $ $ \neq $ 40
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
z = uji_z(clean8, "Serving", 40)
print(z)
6. Kesimpulan :
Periksalah apakah rata-rata Sodium untuk permen 20 baris terakhir tidak sama dengan 74!
sample_last_20_sodium = clean8.tail(20)
sample_last_20_sodium
1. H<sub>0</sub> : $ \mu $ = 74
2. H<sub>1</sub> : $ \neq $ 74
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
z = uji_z(clean8, "Sodium", 74)
print(z)
6. Kesimpulan :
Periksalah apakah proporsi nilai Protein yang lebih besar dari 3 tidak sama dengan 60% dari total dataset!
protein_more_than_3 = clean8[clean8["Protein"] > 3]
protein_more_than_3
1. H<sub>0</sub> : $ \mu $ = 0.6
2. H<sub>1</sub> : $ \mu $ $ \neq $ 0.6
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
z_test_proportion(clean8, protein_more_than_3, 0.6)
6. Kesimpulan :
# 6. Hipotesis 2 Sampel
Split dataset
midpoint = len(clean8) // 2

data1 = clean8.iloc[:midpoint]
data2 = clean8.iloc[midpoint:]
data1
data2
def same_variance(x, y, attribute):
    return x[attribute].var() == y[attribute].var()
def z(data1, data2, attribute, dif):
    avg1 = data1["attribute"]
Periksalah apakah rata-rata Sugar dari permen yang diproduksi bernilai sama pada kedua kurun waktu!
print(same_variance(data1, data2, "Sugar"))
1. H<sub>0</sub> : $ \mu1 $ = $ \mu2 $
2. H<sub>1</sub> : $ \mu1 $ $ \neq $ $ \mu2 $
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
z = 
6. Kesimpulan :
Bandingkan rata-rata Protein dari permen pada paruh awal dan akhir. Apakah rata-rata Protein pada dataset bagian awal lebih besar daripada bagian akhir sebesar 0.3 unit?
1. H<sub>0</sub> : $ \mu1 $ - $ \mu2 $ = 0.3
2. H<sub>1</sub> : $ \mu1 $ - $ \mu2 $ $ \neq $ 0.3
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
6. Kesimpulan :
Periksalah apakah variansi dari Sodium dari permen sama pada paruh awal dan akhir!

1. H<sub>0</sub> : $\sigma^2$ 1 = $\sigma^2$ 2
2. H<sub>1</sub> : $\sigma^2$ 1 $ \neq $ $\sigma^2$ 2 
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
6. Kesimpulan :
Periksalah apakah proporsi Calories dari permen yang lebih dari 200 pada paruh awal lebih besar daripada proporsi di paruh akhir!
1. H<sub>0</sub> : p1 = p2
2. H<sub>1</sub> : p1 > p2
3. $ \alpha $ = 0.05
4. Menggunakan uji Z  karena variansi dari populasi diketahui dengan daerah kritis : z < -1.96 dan z > 1.96
5. Komputasi :
6. Kesimpulan :