# Tugas Besar IF2220 Probabilitas dan Statistika 
Penarikan Kesimpulan dan Pengujian Hipotesis 

1. Eduardus Alvito Kristiadi - 13522004
2. Francesco Michael Kusuma - 13522038

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import Dataset

In [2]:
data_path = "../data/candy.csv"
df = pd.read_csv(data_path)
df

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Flavour,Popularity
0,0,199.093472,38.515232,1.900459,19.853806,74.674097,7.587634,0.138605,Vanilla,41.259773
1,1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,Strawberry,44.089254
2,2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,Strawberry,46.941862
3,3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,Strawberry,53.331791
4,4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,Chocolate,48.471775
...,...,...,...,...,...,...,...,...,...,...
1995,1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,Strawberry,32.993853
1996,1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,Vanilla,61.284063
1997,1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,Chocolate,57.484075
1998,1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,Chocolate,66.672724
1999,1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,Strawberry,58.115768

# Missing Value

In [3]:
missing_values = df.isnull().sum(axis = 0)
nan_cols = missing_values[missing_values > 0]

print(f"Missing data : {len(nan_cols)}")

Missing data : 0

# Feature Information

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   Calories    2000 non-null   float64
 2   Serving     2000 non-null   float64
 3   Protein     2000 non-null   float64
 4   Sugar       2000 non-null   float64
 5   Sodium      2000 non-null   float64
 6   Fat         2000 non-null   float64
 7   Fiber       2000 non-null   float64
 8   Flavour     2000 non-null   object
 9   Popularity  2000 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 156.4+ KB

In [5]:
numeric_columns = df.select_dtypes(include=['number'])
numeric_columns

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
0,0,199.093472,38.515232,1.900459,19.853806,74.674097,7.587634,0.138605,41.259773
1,1,200.593259,40.938412,2.808666,21.640665,76.748829,6.332619,0.569315,44.089254
2,2,200.809089,40.107873,1.863457,20.106473,73.822751,6.377162,0.294916,46.941862
3,3,199.505615,39.529170,2.819872,19.026629,73.351009,5.971648,0.181527,53.331791
4,4,199.398557,39.840058,2.603907,21.735672,76.422204,6.924652,0.530055,48.471775
...,...,...,...,...,...,...,...,...,...
1995,1995,199.469890,41.409594,1.426827,19.900369,74.947492,7.297713,0.264281,32.993853
1996,1996,198.775889,41.219983,1.565405,19.701805,74.793927,6.226603,0.741278,61.284063
1997,1997,201.194004,38.044068,3.424172,19.600528,74.635503,6.831742,0.696798,57.484075
1998,1998,198.293784,40.357271,3.155686,20.645426,74.330803,6.250351,0.779107,66.672724
1999,1999,200.045891,40.306882,1.709739,19.304767,72.693937,6.797929,0.523419,58.115768

In [6]:
non_numeric_columns = df.select_dtypes(exclude=['number'])
non_numeric_columns

         Flavour
0        Vanilla
1     Strawberry
2     Strawberry
3     Strawberry
4      Chocolate
...          ...
1995  Strawberry
1996     Vanilla
1997   Chocolate
1998   Chocolate
1999  Strawberry

[2000 rows x 1 columns]

# Data description

In [7]:
numeric_columns.describe()

,Unnamed: 0,Calories,Serving,Protein,Sugar,Sodium,Fat,Fiber,Popularity
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,999.500000,199.996046,39.989139,2.974415,20.004080,74.982853,6.748226,0.490851,49.967119
std,577.494589,1.127015,1.073182,1.012686,0.888751,1.007484,0.658202,0.292242,10.145767
min,0.000000,195.897565,36.424752,-0.571292,16.925305,71.405873,5.162155,0.000487,-3.000000
25%,499.750000,199.212548,39.272877,2.245751,19.409965,74.276512,6.279173,0.238509,42.948183
50%,999.500000,200.001306,39.977855,2.979177,20.004798,75.000056,6.667726,0.489901,49.955385
75%,1499.250000,200.777167,40.734991,3.655002,20.588626,75.677900,7.170426,0.736093,57.153024
max,1999.000000,204.713237,43.561506,6.392027,22.922444,78.232301,9.498653,3.000000,86.469784

In [8]:
non_numeric_columns.describe()

          Flavour
count        2000
unique          4
top     Chocolate
freq          678

# Mean

In [9]:
numeric_columns.mean()

Unnamed: 0    999.500000
Calories      199.996046
Serving        39.989139
Protein         2.974415
Sugar          20.004080
Sodium         74.982853
Fat             6.748226
Fiber           0.490851
Popularity     49.967119
dtype: float64

# Median

In [10]:
numeric_columns.median()

Unnamed: 0    999.500000
Calories      200.001306
Serving        39.977855
Protein         2.979177
Sugar          20.004798
Sodium         75.000056
Fat             6.667726
Fiber           0.489901
Popularity     49.955385
dtype: float64

# Variance

In [11]:
numeric_columns.var()

Unnamed: 0    333500.000000
Calories           1.270162
Serving            1.151719
Protein            1.025532
Sugar              0.789878
Sodium             1.015025
Fat                0.433230
Fiber              0.085406
Popularity       102.936586
dtype: float64

# Range

In [12]:
print(numeric_columns.max() - numeric_columns.min())

Unnamed: 0    1999.000000
Calories         8.815673
Serving          7.136754
Protein          6.963319
Sugar            5.997139
Sodium           6.826428
Fat              4.336498
Fiber            2.999513
Popularity      89.469784
dtype: float64

# Unique Values

In [13]:
numeric_columns.nunique()

Unnamed: 0    2000
Calories      2000
Serving       2000
Protein       2000
Sugar         2000
Sodium        2000
Fat           2000
Fiber         2000
Popularity    2000
dtype: int64

# Skewness

In [14]:
numeric_columns.skew()

Unnamed: 0    0.000000
Calories      0.041929
Serving       0.031222
Protein       0.089544
Sugar         0.006416
Sodium       -0.030713
Fat           0.537265
Fiber         0.324107
Popularity   -0.148562
dtype: float64

# Kurtosis

In [15]:
numeric_columns.kurtosis()

Unnamed: 0   -1.200000
Calories      0.198919
Serving      -0.119331
Protein      -0.099028
Sugar        -0.048001
Sodium       -0.025462
Fat           0.235368
Fiber         1.396380
Popularity    0.807764
dtype: float64

# Value Counts

In [16]:
non_numeric_columns['Flavour'].value_counts()

Flavour
Chocolate     678
Vanilla       664
Strawberry    656
undefined       2
Name: count, dtype: int64

# Undefined Value

In [17]:
undefined_flavours = non_numeric_columns[non_numeric_columns['Flavour'] == 'undefined']
print(undefined_flavours)

        Flavour
401   undefined
1935  undefined